# Ignore node_modules folder
node_modules

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore local environment files
.env

# Ignore Dockerfile and docker-compose.yml
Dockerfile
docker-compose.yml

# Ignore build output
dist
build
